@model IEnumerable<aspnetsite.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Index</h1>

<p class="btn btn-outline-primary" role="button">
    <a asp-action="Cadastrar">
        <span class="fas fa-user-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar</span>
    </a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().Nome)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().CPF)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().Telefone)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.First().Senha)</th>
                
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Senha</td>
                    <td>@cliente.Situacao</td>
                    
                    <td>
                        @if(cliente.Situacao == "A")
                        {
                            <button type="button" class="btn btn-danger">
                                @Html.ActionLink("Desativar", "Desativar", new { id = cliente.Id },
                                        new { onclick = "return confirm('Deseja realmente desativar?');" })
                             </button>
                        }
                        else if(cliente.Situacao == "D")
                        {
                            <button type="button" class="btn btn-secondar">
                                @Html.ActionLink("Ativar", "Ativar", new { id = cliente.Id },
                                        new { onclick = "return confirm('Deseja realmente ativar?');" })
                            </button>    
                        }

                    </td>

                    <td>
                        <a asp-action="GerarSenha" asp-route-id="@cliente.Id" class="btn btn-secondary">Atualizar</a>
                        <a asp-action="Excluir" asp-route-id="@cliente.Id" class="btn btn-secondary">Desativar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

